.container {
  width: 600px;
  height: 500px;
  background: #ddd;
    border:2px solid blue;

}

.top {
    display: flex;
  margin-bottom: 20px;
    height: 300px;
    flex-direction: column;   
  border-bottom: 2px solid blue;
  justify-content: center;       
    align-items: center;
  
}

#circle{
    width: 100px;
    height: 100px;
    background-color: red;
    border-radius: 50%;

}

.bottom{
      display: flex;
justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap  

}
.dad {
  display: flex;

flex-direction: row; 
    flex-wrap: wrap  


}

.box{
 width: 50px;
  height: 30px;
  gap: 20px;
  margin: 2px;
  background: royalblue;
}
